html *
{
   font-family: 'Open Sans', sans-serif !important;
}

html,
body {
    height: 100%;
    margin: 0;
}

footer {
    background-color: black;
    opacity: 0.5;
    padding: 10px 8px;
    color: white;
    text-align: center;
}

p {
    color: #ddd;
    font-weight: 300;
    font-size: 1.5rem;
    text-align: center;
    padding: 20px 60px;
}

.boxhead a {
    text-decoration: none;
}

a:link {
    color: white;
    text-decoration: none;
}

a:visited {
    color: #555;
    text-decoration: none;
}

a:hover {
    color: red;
    text-decoration: none;
}

.wrapper {
    min-height: 100%;
    margin-bottom: -50px;
}

.footer,
.push {
    height: 50px;
}

.pl-section {
    color: white;
    padding-top: 5rem;
}

.pl-main-image {
    background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 1)), url('../img/bg.jpg') no-repeat center center;
    background-size: cover;
    height: auto;
}

.pl-about-image {
    background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 1)), url('../img/bg-2.jpg') no-repeat center center;
    background-size: cover;
    height: auto;
}

.pl-contact-image {
    background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 1)), url('../img/bg-3.jpg') no-repeat center center;
    background-size: cover;
    height: auto;
}

.navbar {
    text-transform: uppercase;
    background-color: transparent;
    -webkit-transition: background .5s ease-in-out, padding .5s ease-in-out;
    -moz-transition: background .5s ease-in-out, padding .5s ease-in-out;
    transition: background .5s ease-in-out, padding .5s ease-in-out;
}

.top-nav-collapse {
    text-transform: uppercase;
    background-color: rgba(0, 0, 0, 0.8);
    -webkit-transition: background .5s ease-in-out, padding .5s ease-in-out;
    -moz-transition: background .5s ease-in-out, padding .5s ease-in-out;
    transition: background .5s ease-in-out, padding .5s ease-in-out;
}

.main-heading {
    text-transform: uppercase;
    letter-spacing: 20px;
    font-weight: 400;
    font-size: 5rem;
    text-align: center;
    color: white;
    padding-top: 200px;
}

.sub-heading {
    font-size: 1.5rem;
    text-transform: uppercase;
    color: #aaa;
    text-align: center;
}

.myposts{
  display: block;
  list-style: none;
}

.pl-post{
  font-size: 28px;
  border-color: #aaa;
  color: #aaa;
  border: 1px solid;
  border-radius: 1rem;
  text-align: center;
  padding: 3px 3px;
  list-style-position: outside;
}

.pl-post:hover{
  border-color: #555;
  color:#555;
}

#center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
