<!DOCTYPE html>
<html lang="en">

<head>
  <title>{% if page.title %} {{ page.title }} | {% endif %} Penn Lions</title>
  <meta name="author" content="Irene Zhang">
  <meta name="keywords" content="Penn Lions, Penn, Lions, Chinese, Lion, Dance, Troupe, University, of, Pennsylvania, University of Pennsylvania, Chinese Lion Dance, Philadelphia, Philly, Philadelphia Suns, Dance, Lions, Pan Asian Dance Troupe, Asian, American, Asian-American">
  <link rel="icon" type="image/png" href="{{ site.baseurl }}/img/official-logo.png">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!--Import Bootstrap CSS-->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <!--Custom CSS-->
  <link rel="stylesheet" href="{{ site.baseurl }}/css/style.css">


  <!--Import Font-->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600" rel="stylesheet">

  <!--Import JavaScript-->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

  <!--Custom JS-->
  <script src="{{ site.baseurl }}/js/script.js"></script>
</head>

<header>
  <!--Naviation Bar-->
  <nav class="navbar fixed-top navbar-dark navbar-expand-lg">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="{{site.baseurl}}/" id="nav-icon"><img src="{{ site.baseurl }}/img/logo-white.png" width="80" alt=""></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                    </button>
      </div>
      <div class="navbar-right">
        <div class="collapse navbar-collapse" id="navbar">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="{{site.baseurl}}/about" style="color:white;">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{site.baseurl}}/members" style="color:white;">Members</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{site.baseurl}}/contact" style="color:white;">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
</header>

<body style="background-color:black;">
  <div class="wrapper">

    <!--Page Content-->
    {{content}}

    <!--push footer to bottom-->
    <div class="push"></div>
  </div>

  <footer class="footer">
  <p style="color:black!important;">Website Created by Irene</p>
    <div style="font-size:2rem; display:inline-block; letter-spacing: 1.5rem;">
      <a href="https://www.facebook.com/pennlions/?ref=br_rs"><img id="facebook" src="{{ site.baseurl }}/img/facebook.png" width=50px></a>
      <a href="https://www.youtube.com/user/PennLions1"><img id="youtube" src="{{ site.baseurl }}/img/youtube.png" width=50px></a>
      <a href="mailto:board@pennlions.net"><img id="email" src="{{ site.baseurl }}/img/mail.png" width=50px></a>
    </div>
    <p>© Penn Lions 2018</p>
  </footer>
</body>

</div>

</html>
